<div class="nested-fields d-flex p-2">
    <div class="h5">
      Step 
    </div>
    <%= f.hidden_field :_destroy %>
    <div class="col-5">
        <%= f.label :title %><span class="small text-danger"> Only [E,J,T,H]</span>
        <%= f.text_field :title, maxlength: 1, minlength: 1 %>
    </div>
    <div class="col-3">
        <%= link_to "Remove", '#', class: "btn btn-warning remove_fields" %>
    </div>
</div>